*{padding: 0px;margin: 0px;}
.main-bg{
	background-image: url(../images/main-banner.png);
	background-size: cover;
	height: 400px;
}
.bg-know{
background-color: #2db398;
color: #fff;
  border-radius: 20px;
    margin-right: 35px;

}
.bg-feature{
	background-color: #383c7d;
	color: #fff;
	  border-radius: 20px;
}
.bg-know:hover{
background-color: #2db398;
color: #fff;
  border-radius: 20px;
    margin-right: 35px;

}
.bg-feature:hover{
	background-color: #383c7d;
	color: #fff;
	  border-radius: 20px;
}
.main-head{color: #414482;font-size: 26px;  padding-top: 95px;}
.small-head{color: #474747;font-size: }
.navbar-inverse {
  background-color: #ffffff;
  border-color: #ffffff;
}
.rea{color: #333333;font-weight: bold;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #ffffff;
  background-color: #ffffff;
}
@media only screen and (min-width: 320px){
.main-bg{
	background-image: url(../images/main-banner.png);
	background-size: cover;
	height: 400px;
}
}
@media only screen and (min-width: 480px){
.main-bg{
	background-image: url(../images/main-banner.png);
	background-size: cover;
	height: 400px;
}
}
@media only screen and (min-width: 768px){
.main-bg{
	background-image: url(../images/main-banner.png);
	background-size: cover;
	height: 400px;
}
}
@media only screen and (min-width: 992px){
.main-bg{
	background-image: url(../images/main-banner.png);
	background-size: cover;
	height: 400px;
}
}
@media only screen and (min-width: 1200px){

}